.navbar-brand img {
  width: 80px;
  height: auto !important;
}
header.masthead {
  background-image: url(../assets/img/gedung-idb-baru-IRENG.png);
}
.text-primary{
  color: #024d71 !important;
}
.portfolio-item img{
  height: 300px;
  object-fit: cover;
}